<footer class="footer-main">
    <span class="copyright">
        {{ site.name }} 🄯 {{ site.time | date: '%Y' }}
    </span>

    <a class="link" href="{{ site.url }}/feed.xml" target="_blank">
        {% fa_svg fas.fa-rss %}
    </a>

    <p class="extra">
        <a class="link" href="https://github.com/sergiokopplin/indigo">Indigo theme</a> by <a class="link" href="https://github.com/sergiokopplin/indigo">Kopplin</a>
    </p>

    <p class="extra">
      Sauf mention contraire, le contenu de ce site est sous licence
      <a class="link" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">CC BY-SA 4.0</a>.
      <br>
      Le <a class="link" href="https://gitlab.utc.fr/elus_etu/website">code</a>.
      pour ce site est sous licence <a class="link" href="https://www.gnu.org/licenses/agpl-3.0.fr.html">GNU AGPLv3</a>.
    </p>
</footer>
